@media min-width:452px {
  body {
   width: 420px;
   padding: 16px;
  }
}

@media max-width:452px {
  body {
    width: 1vw;
    padding: 5px;
  }
}

body {
  font-family: "Helvetica Neue", Verdana, helvetica, Arial, Sans;
}

.panel {
  background-color: #eee;
}